{{!< default}}
{{# each data.posts.results}}
	<div class="post">
		<a href="{{{ slug }}}#main"><h2>{{ title }}</h2></a>
		<time datetime="{{{date publishedDate format='YYYY-MM-DD'}}}">{{{date publishedDate format='YYYY-MM-DD'}}}</time>
		<hr>
		{{{ content.extended.html }}}
	</div>
{{/each}}

{{# if data.posts.previous}}
<a href='?page={{{ data.posts.previous }}}'>
{{/if}}

{{# if data.posts.next }}
<div class="paging">
	<button class="arrow" data-nextpage="{{{ data.posts.next }}}">
</div>
{{/if}}

